services:
  users_api:
    build:
      context: ./
      dockerfile: Innoshop.UserManagement/Dockerfile
    container_name: Innoshop.UserManagement.API
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    depends_on:
      users_db:
        condition: service_healthy
      users_seq:
        condition: service_started
      innoshop_rabbitmq:
        condition: service_healthy
    volumes:
    - users_api_dataprotection:/root/.aspnet/DataProtection-Keys
  
  users_db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: Innoshop.UserManagement.SqlServer
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=QWERTY!!11qwerty
    ports:
      - "1433:1433"
    volumes:
      - users_sql_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P \"$${SA_PASSWORD}\" -C -Q \"SELECT 1\" -b -o /dev/null || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  users_seq:
    image: datalust/seq:latest
    container_name: Innoshop.UserManagement.Seq
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=QWERTY!!11qwerty
    ports:
      - 5341:5341
      - 8081:80
    volumes:
      - users_seq_data:/data

  products_api:
    build:
      context: ./
      dockerfile: Innoshop.ProductManagement/Dockerfile
    container_name: Innoshop.ProductManagement.API
    ports:
      - "8082:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    depends_on:
      products_db:
        condition: service_healthy
      products_seq:
        condition: service_started
      innoshop_rabbitmq:
        condition: service_healthy

  products_db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: Innoshop.ProductManagement.SqlServer
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=QWERTY!!11qwerty
    ports:
      - "1434:1433"
    volumes:
      - products_sql_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P \"$${SA_PASSWORD}\" -C -Q \"SELECT 1\" -b -o /dev/null || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  products_seq:
    image: datalust/seq:latest
    container_name: Innoshop.ProductManagement.Seq
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=QWERTY!!11qwerty
    ports:
      - 5342:5341
      - 8083:80
    volumes:
      - products_seq_data:/data

  innoshop_auth_redis:
    image: redis:7
    container_name: Innoshop.Authentication.Redis
    ports:
      - "6379:6379"
    volumes:
      - auth_redis_data:/data

  innoshop_rabbitmq:
    image: rabbitmq:4.2.0-management
    container_name: Innoshop.RabbitMQ
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
  
  innoshop_papercut:
    image: changemakerstudiosus/papercut-smtp:latest
    container_name: Innoshop.Papercut
    ports:
      - "2525:2525"
      - "37408:8080"

volumes:
  users_api_dataprotection:
  users_sql_data:
  users_seq_data:
  products_sql_data:
  products_seq_data:
  auth_redis_data: